#map {
  width: 100%;
  height: calc(100vh - 115px);
}

mat-tab {
  padding: 10px;
}

mat-card {
  margin: 10px;
}

table,
td,
th {
  border: 1px solid #e8e8e8;
}

td {
  padding: 3px;
}

table {
  border-collapse: collapse;
}

.form-f {
  margin-right: 5px;
}

.invalid {
  background-color: #ff00001f;
}